@page "/counter"
@attribute [Authorize]
@inherits LayoutComponentBase

<h2>My Wallet</h2>

<Card>

    <Badge Color="Color.Primary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>
    <Badge Color="Color.Secondary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>

    <Badge Color="Color.Primary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>

    <Badge Color="Color.Secondary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>

    <Badge Color="Color.Primary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>

    <Badge Color="Color.Secondary" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
        <SmallStock Name="Sony" Value=100USD></SmallStock>
    </Badge>
</Card>


@code {



}
