@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager


	<Layout Sider="true">

		<LayoutSider>
			<LayoutSiderContent>
				Sider

				@if (AuthenticationService.User != null)
				{

					<Accordion>
						<Collapse Visible="@notcollapseNavMenu">
							<CollapseHeader>
								<Heading>
									No scam market
								</Heading>
								<Divider></Divider>
								<Heading Size="HeadingSize.Is5">
									<Button Clicked="@(()=>notcollapseNavMenu = !notcollapseNavMenu)">
										@(notcollapseNavMenu?"Hide":"Show")
									</Button>
								</Heading>
							</CollapseHeader>
							<CollapseBody>
								<Heading Size="HeadingSize.Is5">
									<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
										<Figure Size="FigureSize.Is256x256">
											<FigureImage Source="images/img2.png" AlternateText="256x256" />
										</Figure>
									</NavLink>

									<NavLink class="nav-link" href="counter">
										<span class="oi oi-plus" aria-hidden="true"></span> Counter
									</NavLink>

									<NavLink class="nav-link" href="fetchdata">
										<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
									</NavLink>

								</Heading>
							</CollapseBody>
						</Collapse>
					</Accordion>

				}
			</LayoutSiderContent>
		</LayoutSider>
		<Layout>
			<LayoutHeader Fixed="true">

				<text>
					NO SCAM MARKET
				</text>

			</LayoutHeader>
			<LayoutContent>
				<Jumbotron Background="Background.Light">
					@Body
				</Jumbotron>
			</LayoutContent>
		</Layout>
	</Layout>




		@code{
			bool notcollapseNavMenu = true;
		}
