@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager


<Layout Sider="true">

    <LayoutSider>
        <LayoutSiderContent>

            @if (AuthenticationService.User != null)
            {
                <Jumbotron Background="Background.Dark">
                    <Heading>
                        No scam market
                    </Heading>
                    <Divider></Divider>
                    <Heading Size="HeadingSize.Is5">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="max-width:300px">
                            <div class="container">
                                <Figure Size="FigureSize.Is256x256">
                                    <FigureImage Source="images/img2.png" AlternateText="256x256" />
                                    <div class="overlay">
                                        <div class="text">Dashboard</div>
                                    </div>
                                </Figure>
                            </div>
                        </NavLink>

                        <NavLink class="nav-link" href="counter" style=" max-width: 300px">
                            <div class="container">
                                <Figure Size="FigureSize.Is256x256">
                                    <FigureImage Source="images/img1.jpg" AlternateText="256x256" />
                                    <div class="overlay">
                                        <div class="text">Wallet</div>
                                    </div>
                                </Figure>
                            </div>
                        </NavLink>

                        <NavLink class="nav-link" href="logout" style="max-width:300px">
                            <div class="container">
                                <Figure Size="FigureSize.Is256x256">
                                    <FigureImage Source="images/img3.jpg" AlternateText="256x256" />
                                    <div class="overlay">
                                        <div class="text">Logout</div>
                                    </div>
                                </Figure>
                            </div>

                        </NavLink>
                    </Heading>
                </Jumbotron>
            }

        </LayoutSiderContent>
    </LayoutSider>


    <Layout>
        <LayoutContent>
            <Jumbotron Background="Background.Light">
                @Body
            </Jumbotron>
        </LayoutContent>
    </Layout>


</Layout>




@code{
    bool notcollapseNavMenu = true;
}