
<Card>

		<Layout Style="position: center">
			<LayoutHeader>
				<Heading>
					@Name
				</Heading>
			</LayoutHeader>
			<LayoutContent>
				<Heading>
					@Value
				</Heading>

			</LayoutContent>
			<LayoutFooter>
				<Divider></Divider>
				<Container>
					<Row>
						<Button Color="Color.Danger" Margin="Margin.Is4.OnX">Sell</Button>
						<Button Color="Color.Success" Margin="Margin.Is4.OnX">Buy</Button>
					</Row>
				</Container>
			</LayoutFooter>
		</Layout>


</Card>


@code {
	[Parameter]
	public string Name { get; set; }

	[Parameter]
	public string Value { get; set; }
}
