
<Card>

	<Jumbotron Background="Color.Secondary">
		<Layout>
			<LayoutHeader>
				<CardText Size="1" >
					@Name
				</CardText>
			</LayoutHeader>
			<LayoutContent>
				<CardText Size="2" >
					@Value
				</CardText>

			</LayoutContent>
			<LayoutFooter>
				<Container>
					<Row>
						<Button Color="Color.Danger">Sell</Button>
						<Button Color="Color.Success">Buy</Button>
					</Row>
				</Container>
			</LayoutFooter>
		</Layout>
	</Jumbotron>


</Card>


@code {
	[Parameter]
	public string Name { get; set; }

	[Parameter]
	public string Value { get; set; }
}
