@using System.Text.Json

@inject GlobalService GlobalService
@inject HttpClient HttpClient
@*<div class="card text-center m-3">
		<h5 class="card-header">Simple GET Request</h5>
		<div class="card-body">
			Total users: @response?.Total
		</div>
	</div>*@

<div class="alert alert-secondary mt-4" role="alert">

	<strong>@Title</strong>

	<LineChart InputSeries1="@graphData"
			   XAxisLabels="Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep"
			   InputLabels="Bani de ma enerveaza"> </LineChart>

	<div>
		"@pucheala"
	</div>

</div>



@code {

	//public async Task<dynamic> fetchData()
	//{
	//	return await HttpClient.GetFromJsonAsync<JsonElement>
	//		("https://www.alphavantage.co/query?" +
	//		"function=TIME_SERIES_MONTHLY&symbol=IBM&apikey=OLC6HWQVYQUI449V");

	//}

	GraphFetcher f;
	string graphData => f.strData;

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public string Symbol { get; set; }

	public string pucheala = "";

	protected override void OnInitialized()
	{
		f = new GraphFetcher(GlobalService);
		f.init();
		f.loadSymbol("SNE");


	}

}
