@page "/login"
@using System.ComponentModel.DataAnnotations
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<form action="action_page.php" method="post" class="signin">
    <div class="imgcontainer">
        <img src="/Images/jeff-bezos-stonks-man-meme-fb-png__700.png" alt="Avatar" class="avatar" id="poza">
    </div>

    <div class="signincontainer">
        <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="uname"><b>Username</b></label>
                <InputText @bind-Value="model.Username" placeholder="Enter Username" name="uname" required class="signininput" />
                <ValidationMessage For="@(() => model.Username)" />
            </div>
            <div class="form-group">
                <label for="psw"><b>Password</b></label>
                <InputText @bind-Value="model.Password" type="password" placeholder="Enter Password" name="psw" required class="signininput" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <button class="btn btn-primary signinbutton" type="submit">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Login
            </button>
            
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </EditForm>
    </div>

    <div class="signincontainer" style="background-color:#f1f1f1">
        @*<span class="cnacelbtn signinbutton" id="cancelbtn"><NavLink href="signin">Cancel</NavLink></span>*@
        @*<button onclick="register">Register</button>*@
        <span type="button" class="cancelbtn signinbutton" id="cancelbtn" style="text-decoration: none"><NavLink href="register">Register</NavLink></span>
        @*<span class="psw"><NavLink href="signin">Sign In</NavLink></span>*@
    </div>
</form>

@code {
    private Model model = new Model();
    private bool loading;
    private string error;

    private string returnURL = "";

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            await AuthenticationService.Login(model.Username, model.Password);
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "/";
            returnURL = returnUrl;
            NavigationManager.NavigateTo(returnUrl);
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }

    private class Model
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }
}