<body class="skin-black">

	<header class="header">
		<h2><strong>@name</strong></h2>

		<span class="byline">@sector</span>
	</header>


		<div id="page" class="container">
			<div id="content">
				<div class="title">
					
					
				</div>

				<h6>
					<p>@description</p>
				</h6>

			</div>

		</div>

		<h3 class = "fa">
			Current Balance: fara numar
		</h3>

		<div class="buyButton">
			Buy $100
		</div>

		<div class="sellButton">
			Sell $100
		</div>

		<div id="portfolio-wrapper">
			<div id="portfolio" class="container">
				<h2>Graph for one week</h2>
				<span class="icon">
					<Graphic Title="This is a stonks graph" Symbol="@symbol" />
				</span>
			</div>
		</div>


</body>


@code {

	[Parameter]
	public string symbol { get; set; }

	[Parameter]
	public string name { get; set; }

	[Parameter]
	public string sector { get; set; }

	[Parameter]
	public string description { get; set; }

}
