@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="page">

    @if (AuthenticationService.User != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
